* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}
:root {
  --bg-color: #fff;
  --text-color: #221314;
  --big-font: 6rem;
  --h2-font: 3rem;
  --p-font: 1.1rem;
}
body {
  background-image: linear-gradient(
    90deg,
    rgba(96, 101, 69, 1),
    rgba(219, 213, 164, 1) 100%
  );
}

section {
  padding: 80px 18%;
}

.home {
  height: 100vh;
  background-image: url(/resource/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
}
img{
 max-width: 600px;
}
.home-text h1 {
  font-size: var(--big-font);
  line-height: 1.2;
  color: var(--bg-color);
  letter-spacing: 4px;
  margin-bottom: 20px;
  text-shadow: 1px 0px 0px black, -1px 0px 0px black, 0px 1px 0px black,
    0px -1px 0px black;
}
.home-text p {
  color: #ffffffbf;
  font-size: 20px;
  font-weight: 400;
  line-height: 38px;
  margin-bottom: 50px;
  text-shadow: 1px 0px 0px black, -1px 0px 0px black, 0px 1px 0px black,
    0px -1px 0px black;
}
.home-btn {
  display: inline-block;
  font-size: 16px;
  padding: 15px 30px;
  background: #ffffffbf;
  color: var(--main-color);
  border-radius: 4 px;
  transition: 0.4s;
}
.home-btn:hover {
  background: var(--bg-color);
  transform: scale(1.1);
}
.text h2 {
  /* font-size: var(--h2-font); */
  font-size: 30px;
  line-height: 1.1;
  text-align: center;
  color: aliceblue;
}
.row-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250 px, auto));
  grid-gap: 2rem;
  align-items: center;
  text-align: center;
  margin-top: 5rem;
}

.row-items h4 {
  font-size: 20px;
  color: white;
  padding: 10px;
  text-shadow: 1px 0px 0px black, -1px 0px 0px black, 0px 1px 0px black,
    0px -1px 0px black;
}
.row-items h4 i {
  color: tomato;
}

input[type="submit"] {
  font-size: medium;
  border: 1px solid black;
  position: static;
  bottom: 0px;
  border-radius: 15px;
  margin: 5px;
  padding: 10px;
  background: linear-gradient(
    270deg,
    rgb(255, 255, 255),
    rgba(197, 247, 255, 0.482) 100%
  );
  color: black;
  font-weight: 500;
}

input[type="submit"]:hover {
  background: rgba(197, 247, 255, 0.482);
  color: rgb(255, 255, 255);
  font-weight: 500;
  text-shadow: 1px 0px 0px black, -1px 0px 0px black, 0px 1px 0px black,
    0px -1px 0px black;
}
